<p>
  <strong>ID:</strong>
  <%= @article.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @article.user.name, user_path(@article.user.id) %></td>
</p>

<p>
  <strong>Created at:</strong>
  <%= @article.try(:created_at) %></td>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @article.try(:updated_at) %></td>
</p>

<%#= link_to 'Edit', edit_article_path(@article.id) %> |
<%= link_to 'Back', articles_path %>
