<%= render 'search' %>
<%= render 'redi_search' %>

<h1>Users</h1>

Total: <%= @users.count %>

<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Status</th>
      <th>Roles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.try(:age) %></td>
        <td><%= user.try(:status) %></td>
        <td><%= user.try(:roles) %></td>
        <td><%= link_to 'Show', user_path(user.id), class: 'btn btn-sm btn-success' %></td>
        <td><%#= link_to 'Edit', edit_user_path(user.id) %></td>
        <td><%= link_to 'Destroy', user_path(user.id), method: :delete,
          data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
