<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @user.roles %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @user.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @user.updated_at %>
</p>

<p>
  <strong>Articles:</strong>
  <%= @user.articles.count %>
</p>

<%= render 'articles/table', articles: @user.articles %>

<%#= link_to 'Edit', edit_user_path(@user.id) %> |
<%= link_to 'Back', users_path, class: 'btn btn-info' %>
